<template>
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Tipo de Estabelecimento
            </h2>

            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a @click="initAddTipo()"><i class="fa fa-plus"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <a href="#" v-for="tipo in tipos.estabelecimento" class="btn btn-default btn-xs">{{tipo.nome}} </a>


            <div class="modal fade" tabindex="-1" role="dialog" id="tipo_add">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Gerenciar Tipos</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="tipos">Tipos</label>
                                        <v-select label="nome" :value.sync="tipos.estabelecimento"
                                                  :options="tipos.options"
                                                  id="tipos" :multiple="true"></v-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-primary"
                                    @click="updateEstabelecimentoTipos()">Atualizar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</template>

<script>
    import vSelect from "vue-select";

    export default {
        components: {vSelect},

        data() {
            return {
                tipos: {
                    estabelecimento: [],
                    options: [],
                },
                errors: [],
            }
        },
        methods: {
            initAddTipo() {
                $('#tipo_add').modal('show');
            },
            getEstabelecimentoTipos() {
                axios.get(window.location.origin + '/api' + window.location.pathname + '/tipos')
                    .then(
                        response => {
                            this.tipos.estabelecimento = response.data.estabelecimento_tipos;
                        }
                    )
            },
            updateEstabelecimentoTipos() {
                axios.post(window.location.origin + '/api' + window.location.pathname + '/tipos', this.tipos.estabelecimento)
                    .then(
                        response => {
                            $('#tipo_add').modal('hide');
                        }
                    ).catch(error => {
                    this.errors = [];
                    if (error.response.data.errors) {
                        this.errors.push(error.response.data.errors);
                    }
                    console.log(error.response.data);
                })
            },
            getTipos() {
                axios.get(window.location.origin + '/api/tipos')
                    .then(
                        response => {
                            this.tipos.options = response.data.tipos;
                        }
                    ).catch(error => {
                    this.errors = [];
                    if (error.response.data.errors) {
                        this.errors.push(error.response.data.errors);
                    }
                    console.log(error.response.data);
                })
            }
        },
        created() {
            this.getEstabelecimentoTipos();
            this.getTipos();
        }
    }
</script>