<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>
                        Estabelecimento
                        <transition name="fade">
                            <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                        </transition>
                    </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <transition name="fade">
                <div class="row" v-show="!loading">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>{{estabelecimento.nome_fan}}
                                    <small>{{estabelecimento.cnpj}}</small>
                                </h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                    <li><a @click="initEditEstabelecimento()"><i class="fa fa-wrench"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <dl>
                                            <dt>Razão Social</dt>
                                            <dd>{{estabelecimento.razao_soc}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <dl>
                                            <dt>CNPJ</dt>
                                            <dd>{{estabelecimento.cnpj}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <dl>
                                            <dt>Nome Fantasia</dt>
                                            <dd>{{estabelecimento.nome_fan}}</dd>
                                        </dl>
                                    </div>

                                    <!--Edit Estabelecimento Form-->
                                    <div class="modal fade" tabindex="-1" role="dialog" id="estabelecimento_edit">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span
                                                            aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">Editar Estabelecimento </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="update_cnpj">CNPJ</label>
                                                                <input type="number" name="update_cnpj" id="update_cnpj"
                                                                       v-model="update_estabelecimento.cnpj"
                                                                       class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="update_razao_soc">Razão Social</label>
                                                                <input type="text" name="update_razao_soc"
                                                                       id="update_razao_soc"
                                                                       v-model="update_estabelecimento.razao_soc"
                                                                       class="form-control">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="update_nome_fan">Nome Fantasia</label>
                                                                <input type="text" name="update_nome_fan"
                                                                       id="update_nome_fan"
                                                                       v-model="update_estabelecimento.nome_fan"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                                            @click="resetAll()">
                                                        Cancelar
                                                    </button>
                                                    <button type="button" class="btn btn-primary"
                                                            @click="updateEstabelecimento()">Atualizar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <corpo-clinico></corpo-clinico>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <tipos></tipos>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>
<script>
    import CorpoClinico from "./EstabelecimentoUnidades.vue";
    import Tipos from "./EstabelecimentoTipos.vue";

    export default {
        components: {
            'corpo-clinico': CorpoClinico,
            'tipos': Tipos,
        },
        data() {
            return {
                loading: true,
                url: window.location.origin + '/api' + window.location.pathname,
                estabelecimento: {
                    razao_soc: "",
                    cnpj: "",
                    nome_fan: "",
                },
                update_estabelecimento: {
                    razao_soc: "",
                    cnpj: "",
                    nome_fan: "",
                },
                errors: [],
            }
        },
        methods: {
            initEditEstabelecimento() {
                this.update_estabelecimento = this.estabelecimento;
                $('#estabelecimento_edit').modal('show');
            },
            getEstabelecimento() {
                axios.get(this.url)
                    .then(response => {
                        this.estabelecimento = response.data.estabelecimento;
                        this.loading = false;
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors) {
                            this.errors.push(error.response.data.errors);
                        }
                    });
            },
            updateEstabelecimento() {
                axios.patch(this.url, this.update_estabelecimento)
                    .then(response => {
                        $('#estabelecimento_edit').modal('hide');
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors) {
                            this.errors.push(error.response.data.errors);
                        }
                    })
            }
        },
        created() {
            this.getEstabelecimento();
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0
    }
</style>