<template>
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Unidades
            </h2>

            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                <li><a @click="initAddUnidade()"><i class="fa fa-plus"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(unidade, index) in unidades" :id="index">
                    <td class="col-xs-1">
                        {{index + 1}}
                    </td>
                    <td class="col-xs-5 col-sm-8">{{unidade.nome}}</td>
                    <td class="col-xs-6 col-sm-3">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-default" @click="openUnidade(unidade.id)"><i
                                    class="fa fa-folder"></i></button>
                            <button type="button" class='btn btn-warning' @click="initEditUnidade(index)"><i
                                    class="fa fa-wrench"></i></button>
                            <button type="button" class='btn btn-danger' @click="deleteUnidade(index)"><i
                                    class="fa fa-trash"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--Add Unidade -->
            <div class="modal fade" tabindex="-1" role="dialog" id="add_unidade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Unidade {{unidade.nome}}</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger" v-if="errors.length > 0">
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input class="form-control" type="text" name="nome" v-model="unidade.nome"
                                       id="nome">
                            </div>

                            <div class="form-group">
                                <label for="cep">CEP</label>
                                <input type="text" name="cep" v-model="unidade.endereco.cep" id="cep"
                                       class="form-control"
                                       @keyup="getCep(unidade.endereco)" pattern="[0-9]{8}$">
                            </div>
                            <div class="form-group">
                                <label for="logradouro">Logradouro</label>
                                <input type="text" name="logradouro" v-model="unidade.endereco.logradouro"
                                       id="logradouro"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="numero">Nº</label>
                                <input type="text" name="numero" v-model="unidade.endereco.numero" id="numero"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input type="text" name="complemento" v-model="unidade.endereco.complemento"
                                       id="complemento" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="bairro">Bairro</label>
                                <input type="text" name="bairro" v-model="unidade.endereco.bairro" id="bairro"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="cidade">Cidade</label>
                                <input type="text" name="cidade" v-model="unidade.endereco.cidade" id="cidade"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="uf">UF</label>
                                <select name="uf" v-model="unidade.endereco.uf" id="uf" class="form-control">
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" @click="createUnidade(index)" class="btn btn-primary">Salvar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <!-- Edit Unidade -->
            <div class="modal fade" tabindex="-1" role="dialog" id="edit_unidade">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Atualizar Unidade {{update_unidade.nome}}</h4>
                        </div>
                        <div class="modal-body">

                            <div class="alert alert-danger" v-if="errors.length > 0">
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="update_nome">Nome</label>
                                <input class="form-control" type="text" name="update_nome"
                                       v-model="update_unidade.nome"
                                       id="update_nome">
                            </div>

                            <div class="form-group">
                                <label for="update_cep">CEP</label>
                                <input type="text" name="update_cep" id="update_cep"
                                       v-model="update_unidade.endereco.cep"
                                       class="form-control"
                                       @keyup="getCep(update_unidade.endereco)" pattern="[0-9]{8}$">
                            </div>
                            <div class="form-group">
                                <label for="update_logradouro">Logradouro</label>
                                <input type="text" name="logradouro" id="update_logradouro"
                                       v-model="update_unidade.endereco.logradouro" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_numero">Nº</label>
                                <input type="text" name="numero" id="update_numero"
                                       v-model="update_unidade.endereco.numero"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_complemento">Complemento</label>
                                <input type="text" name="complemento" id="update_complemento"
                                       v-model="update_unidade.endereco.complemento" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_bairro">Bairro</label>
                                <input type="text" name="bairro" id="update_bairro"
                                       v-model="update_unidade.endereco.bairro"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_cidade">Cidade</label>
                                <input type="text" name="cidade" id="update_cidade"
                                       v-model="update_unidade.endereco.cidade"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="update_uf">UF</label>
                                <select name="uf" id="update_uf" v-model="update_unidade.endereco.uf"
                                        class="form-control">
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            <button type="button" @click="updateUnidade()" class="btn btn-primary">Salvar
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                unidade: {
                    nome: '',
                    endereco: {
                        cep: '',
                        logradouro: '',
                        numero: '',
                        complemento: '',
                        bairro: '',
                        cidade: '',
                        uf: ''
                    }
                },
                unidades: [],
                update_unidade: {
                    nome: "",
                    estabelecimento_id: "",
                    endereco: {
                        cep: '',
                        logradouro: '',
                        numero: '',
                        complemento: '',
                        bairro: '',
                        cidade: '',
                        uf: ''
                    }
                },
                loading: true,
                errors: []
            }
        },
        methods: {
            initAddUnidade() {
                $("#add_unidade").modal("show");
            },
            initEditUnidade(index) {
                this.errors = [];
                this.resetAll();
                axios.get('/api/unidades/' + this.unidades[index].id)
                     .then(response => {
                         this.update_unidade = response.data.unidade;
                     })
                     .catch(error => {
                         this.errors = [];
                         if (error.response.data.errors) {
                             this.errors.push(error.response.data.errors);
                         }
                     });
                $("#edit_unidade").modal("show");
            },
            getCep(endereco) {
                if (endereco.cep.length == 8) {
                    jQuery.ajax({
                        url: "https://viacep.com.br/ws/" + endereco.cep + "/json/",
                        dataType: "jsonp",
                        crossDomain: true,
                        success: response => {
                            if (response.erro) {
                                alert("CEP Inválido");
                            }
                            endereco.logradouro = response.logradouro;
                            endereco.bairro = response.bairro;
                            endereco.cidade = response.localidade;
                            endereco.uf = response.uf;
                        },
                        fail: error => {
                            console.log(error);
                            console.log("Erro " + error);
                        }
                    });
                }
            },
            createUnidade() {
                let id = window.location.pathname.split('/')[2];
                axios.post('/api/estabelecimentos/' + id + '/unidades', this.unidade)
                     .then(response => {
                         this.getUnidades();
                         this.resetAll();
                         $('#add_unidade').modal('hide');
                     })
                     .catch(error => {
                         this.errors = [];
                         if (error.response.data.errors) {
                             this.errors.push(error.response.data.errors);
                         }
                         console.log(error.response.data);
                     });
            },
            updateUnidade() {

                axios.patch('/api/unidades/' + this.update_unidade.id, this.update_unidade)
                     .then(response => {
                         this.getUnidades();
                         this.resetAll();
                         $('#edit_unidade').modal('hide');
                     })
                     .catch(error => {
                         this.errors = [];
                         alert(error.response.data);
                     });
            },
            deleteUnidade(index) {
                let conf = confirm('Remover Unidade? Todos os profissionais e suas respecitivas agendas serão desvinculadas.');
                if (conf === true) {
                    let id = window.location.pathname.split('/')[2];
                    axios.delete('/api/estabelecimentos/' + id + '/unidades/' + this.unidades[index].id)
                         .then(response => {
                             this.unidades.splice(index, 1);
                         })
                         .catch(error => {

                         });
                }
            },
            getUnidades() {
                let id = window.location.pathname.split('/')[2];
                axios.get('/api/estabelecimentos/' + id + '/unidades')
                     .then(response => {
                         this.unidades = response.data.lista_unidades;
                         this.loading = false;
                     })
                     .catch(error => {
                         alert("Não foi possível realizar a consulta.")
                     })
            },

            openUnidade(id) {
                window.location.href = window.location.origin + '/unidades/' + id;
            },
            resetAll() {
                this.unidade.nome = "";
                this.unidade.endereco.cep = '';
                this.unidade.endereco.logradouro = "";
                this.unidade.endereco.numero = "";
                this.unidade.endereco.complemento = "";
                this.unidade.endereco.bairro = "";
                this.unidade.endereco.cidade = "";
                this.unidade.endereco.uf = "";

                this.update_unidade.nome = "";
                this.update_unidade.endereco.cep = '';
                this.update_unidade.endereco.logradouro = "";
                this.update_unidade.endereco.numero = "";
                this.update_unidade.endereco.complemento = "";
                this.update_unidade.endereco.bairro = "";
                this.update_unidade.endereco.cidade = "";
                this.update_unidade.endereco.uf = "";
            }
        },
        created() {
            this.getUnidades();
        }
    }
</script>