<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Example Component</div>

                    <div class="panel-body">
                        <endereco :url="url"></endereco>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import EnderecoForm from './shared/endereco/EnderecoForm.vue';

    export default {
        components: {
            'endereco': EnderecoForm
        },
        data() {
            return {
//                url: '/api/estabelecimentos/' + window.location.pathname.split('/')[2] + '/unidades',
                url: '/api/estabelecimentos/1/unidades',
            }
        },
    }
</script>
