<template>
    <div>
        <h2 class="page-header">Conselhos
            <small>
                <button type="button" @click="initAddRegistro()" class="btn btn-primary btn-xs pull-right"><i
                        class="fa fa-plus"></i></button>
            </small>
        </h2>

        <table id="conselho_registros" class="table table-responsive table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Conselho</th>
                <th>Registro</th>
                <th colspan="2">UF</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(registro, index) in registros" :id="index">
                <td>
                    {{index + 1}}
                </td>
                <td>
                    {{ registro.sigla }}
                </td>
                <td>
                    {{ registro.registro }}
                </td>
                <td>
                    {{ registro.uf }}
                </td>
                <td>
                    <button class="btn btn-danger btn-xs" type="button" @click="deleteCredencial(index)"><i
                            class="fa fa-trash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="modal fade" tabindex="-1" role="dialog" id="add_registro">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Adicionar Registro de Conselho</h4>
                    </div>
                    <div class="modal-body">

                        <div class="alert alert-danger" v-if="errors.length > 0">
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="conselho_id">Conselho</label>
                            <select name="consleho_id" id="conselho_id" v-model="registro.conselho_id"
                                    class="form-control">
                                <option value="">Selecione</option>
                                <option v-for="conselho in conselhos" :value="conselho.id">
                                    {{conselho.sigla}} - {{conselho.nome}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="registro">Registro</label>
                            <input type="text" name="registro" id="registro"
                                   class="form-control"
                                   v-model="registro.registro">
                        </div>
                        <div class="form-group">
                            <label for="uf">UF</label>
                            <select name="uf" id="uf" class="form-control" v-model="registro.uf">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" @click="createRegistro()" class="btn btn-primary">Salvar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                registro: {
                    conselho_id: '',
                    registro: '',
                    uf: ''
                },
                errors: [],
                registros: [],
                conselhos: [],
            }
        },
        created() {
            this.getConselhos();
            this.readRegistros();
        },
        methods: {
            initAddRegistro() {
                $("#add_registro").modal("show");
            },
            createRegistro() {
                let id = window.location.pathname.split('/')[2];
                axios.post('/api/profissionais/' + id + '/conselhos', {
                    conselho_id: this.registro.conselho_id,
                    registro: this.registro.registro,
                    uf: this.registro.uf
                })
                     .then(response => {
                         this.reset();
                         this.readRegistros();
                         $('#add_registro').modal('hide');
                     })
                     .catch(error => {
                         this.errors = [];
                         console.log(error.response.data);
                     });
            },
            reset() {
                this.registro.conselho_id = "";
                this.registro.registro = "";
                this.registro.uf = "";

            },
            readRegistros() {
                let id = window.location.pathname.split('/')[2];
                axios.get('/api/profissionais/' + id + '/conselhos')
                     .then(response => {

                         this.registros = response.data.lista_registros;

                     });
            },
            deleteCredencial(index) {
                let conf = confirm('Remover Credencial?');

                if (conf === true) {

                    let id = window.location.pathname.split('/')[2];
                    axios.delete('/api/profissionais/' + id + '/conselhos/' + this.registros[index].id)
                         .then(response => {
                             this.registros.splice(index, 1);
                         })
                         .catch(error => {

                         });
                }
            },
            getConselhos() {
                axios.get(window.location.origin + '/api/conselhos')
                     .then(response => {
                         this.conselhos = response.data.conselhos;
                     })
            }
        }
    }
</script>