<template>
    <div class="main_container">

        <side-bar></side-bar>
        <!-- top navigation -->
        <top-bar></top-bar>
        <!-- /top navigation -->

        <router-view></router-view>

        <include-footer></include-footer>
    </div>
</template>

<script>
    import Sidebar from './includes/Sidebar.vue';
    import Topbar from './includes/Topbar.vue';
    import Footer from './includes/Footer.vue';

    export default {
        components: {
            'side-bar': Sidebar,
            'top-bar': Topbar,
            'include-footer': Footer,
        }
    }
</script>