<template>
    <footer>
        <div class="pull-right">
            CLUB CARD ADMINISTRADORA DE CARTÕES DE BENEFÍCIOS E CONVÊNIOS LTDA
        </div>
        <div class="clearfix"></div>
    </footer>
</template>