<template>
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="/" class="site_title"><span>Painel Club Card</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="/assets/images/user.png" alt="Avatar of USUÁRIO" class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Olá,</span>
                    <h2>USUÁRIO</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br/>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>Menu</h3>
                    <ul class="nav side-menu">
                        <li><a><i class="fa fa-hospital-o"></i> Rede Credenciada <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="#">Estabelecimentos</a></li>
                                <li><a href="#">Profissionais</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>