<template>
    <div>
        <div class="form-group">
            <label for="cep">CEP</label>
            <input type="text" name="cep" v-model="endereco.cep" id="cep" class="form-control"
                   @keyup="getCep()" pattern="[0-9]{8}$">
        </div>
        <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" v-model="endereco.logradouro" id="logradouro"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="numero">Nº</label>
            <input type="text" name="numero" v-model="endereco.numero" id="numero"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="text" name="complemento" v-model="endereco.complemento"
                   id="complemento" class="form-control">
        </div>
        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" name="bairro" v-model="endereco.bairro" id="bairro"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" name="cidade" v-model="endereco.cidade" id="cidade"
                   class="form-control">
        </div>
        <div class="form-group">
            <label for="uf">UF</label>
            <input type="text" name="uf" v-model="endereco.uf" id="uf" class="form-control">
        </div>

        <button type="button" @click="create()"> go</button>
    </div>
</template>

<script>
    export default {
        props: ['url'],
        data() {
            return {
                endereco: {
                    cep: "",
                    logradouro: "",
                    numero: "",
                    complemento: "",
                    bairro: "",
                    cidade: "",
                    uf: "",
                }
            }
        },
        methods: {
            create() {
                axios.post(this.url, this.endereco)
                    .then(response => {
                        this.resetAll();
                    })
                    .catch(error => {
                        this.errors = [];
                        console.log(error.response.data);
                    });
            },


            getCep() {
                if (this.endereco.cep.length == 8) {
                    jQuery.ajax({
                        url: "https://viacep.com.br/ws/" + this.endereco.cep + "/json/",
                        dataType: "jsonp",
                        crossDomain: true,
                        success: response => {
                            if (response.erro) {
                                alert("CEP Inválido");
                            }
                            this.endereco.logradouro = response.logradouro;
                            this.endereco.bairro = response.bairro;
                            this.endereco.cidade = response.localidade;
                            this.endereco.uf = response.uf;
                        },
                        fail: error => {
                            console.log(error);
                            console.log("Erro " + error);
                        }
                    });
                }
            }
        }
    }

</script>