<template>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Contato</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                    <li>
                        <a @click="initAddContato()"><i class="fa fa-plus"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content" style="display: block;">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>DDD + Número</th>
                        <th>Observação</th>
                        <th>Opções </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(contato,index) in contatos" :id="index">
                        <td>{{contato.tipo}}</td>
                        <td>{{contato.ddd}} {{contato.numero}}</td>
                        <td>{{contato.obs}}</td>
                        <td>
                            <button type="button" @click="initEditContato(index)"><i class="fa fa-wrench"></i></button>
                            <button type="button" @click="deleteContato(index)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="modal fade" tabindex="-1" role="dialog" id="contato_add">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Adicionar Contato </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="ddd">DDD</label>
                                            <input type="tel" name="ddd" id="ddd" v-model="contato.ddd"
                                                   class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="form-group">
                                            <label for="numero">Número</label>
                                            <input type="tel" name="numero" id="numero" v-model="contato.numero"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="tipo">Tipo</label>
                                            <select name="tipo" id="tipo" class="form-control" v-model="contato.tipo">
                                                <option value="">Selecione</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="obs">Observações</label>
                                            <textarea name="obs" id="obs" cols="30" rows="2" v-model="contato.obs"
                                                      placeholder="Opcional" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" @click="resetAll()">
                                    Cancelar
                                </button>
                                <button type="button" class="btn btn-primary" @click="createContato()">Adicionar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Edit Contato Form-->
                <div class="modal fade" tabindex="-1" role="dialog" id="contato_edit">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Editar Contato </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="update_ddd">DDD</label>
                                            <input type="tel" name="update_ddd" id="update_ddd"
                                                   v-model="update_contato.ddd"
                                                   class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="form-group">
                                            <label for="update_numero">Número</label>
                                            <input type="tel" name="update_numero" id="update_numero"
                                                   v-model="update_contato.numero"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="update_tipo">Tipo</label>
                                            <select name="update_tipo" id="update_tipo" class="form-control"
                                                    v-model="update_contato.tipo">
                                                <option value="">Selecione</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="update_obs">Observações</label>
                                            <input type="text" name="update_obs" id="update_obs"
                                                   v-model="update_contato.obs"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                </button>
                                <button type="button" class="btn btn-primary" @click="updateContato()">Atualizar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                url: window.location.origin + '/api' + window.location.pathname + "/contatos",
                contato: {
                    tipo: "",
                    ddd: "",
                    numero: "",
                    obs: "",
                },
                update_contato: {
                    tipo: "",
                    ddd: "",
                    numero: "",
                    obs: "",
                },
                contatos: {},
                errors: []
            }

        },
        methods: {
            initAddContato() {
                $('#contato_add').modal('show');
            },
            initEditContato(index) {
                this.update_contato = this.contatos[index];
                $('#contato_edit').modal('show');
            },
            getContatos() {
                axios.get(this.url)
                    .then(response => {
                        this.contatos = response.data.contatos;
                    })
            },
            createContato() {
                axios.post(this.url, this.contato)
                    .then(response => {
                        this.contatos.push(response.data.contato);
                        $('#contato_add').modal('hide');
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors) {
                            this.errors.push(error.response.data.errors);
                        }
                    })
            },
            updateContato() {
                axios.patch(this.url + '/' + this.update_contato.id, this.update_contato)
                    .then(response => {
                        $('#contato_edit').modal('hide');
                    })
                    .catch(error => {
                        this.errors = [];
                        if (error.response.data.errors) {
                            this.errors.push(error.response.data.errors);
                        }
                    })
            },
            deleteContato(index) {
                let conf = confirm("Deseja remover este contato?");

                if (conf === true) {
                    axios.delete(this.url + '/' + this.contatos[index].id)
                        .then(response => {
                            this.contatos.splice(index, 1);
                        })
                        .catch(error => {
                            console.log(error);
                        })

                }
            },
            resetAll() {
                contato.tipo = "";
                contato.ddd = "";
                contato.numero = "";
                contato.obs = "";

                update_contato.tipo = "";
                update_contato.ddd = "";
                update_contato.obs = "";


            },
        },
        created() {
            this.getContatos();
        },
    }
</script>